.Header {
    /* position: sticky; */
    top: 0px;
}

.headerTitle {
    background-color: var(--tg-theme-header-bg-color);
    /* padding: 0 15px 0 0; */
    padding: 5% 0% 5% 5%;
    margin: 0 auto;
    /* width: 100%; */
}