.catalogList {
    /* display: flex; */
    flex-wrap: wrap;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 50%;
    margin-right: 50%; */
}

h4 {
    margin: 1% 1% 1% 3%;
    font-weight: 500;
}