h3 {
    /* color: black; */
    color: var(--tg-theme-text-color);
    /* background-color: brown; */
    margin: 0 auto;
}
h5 {
    margin: 0 auto;
}

#price {
    /* font-weight: 700; */
}

.catalogItem {
    /* background-color: rgb(107, 107, 107); */
    /* background-color: #8D99AE; */
    background-color: var(--tg-theme-bg-color);
    /* max-width: 200px; */
    max-width: 45%;
    /* min-height: 200px; */
    /* max-height: 390px; */

    /* padding: 5px; */

    margin: 5px;
    border-radius: 10px;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.catalogItemCover {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.catalogItemCoverBox {
    /* background-color: aquamarine; */
    width: 200px;
    height: 200px;
    margin: 5px 5px 0px;
}

.catalogItemTextBox {
    width: 100%;
    margin: 5px;
    /* text-align: start; */
    /* display: flex; */
    /* flex-wrap:nowrap; */
    /* text-wrap: nowrap; */
    /* align-items:end; */
    /* justify-content: center; */
}

.addButton {
    background-color: var(--tg-theme-button-color);
    width: 100%;
    margin: 5px;
    /* background-color: aqua; */
    display: flex;
    align-content: center;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

.addButtonText {
    color: var(--tg-theme-button-text-color);
}